<html>
  <head>
      <title>{{ title }}</title>
  </head>
  <body>
       <h1>read file</h1>
       <form method=post>
           {{ form.csrf_token }}
           <p>{{ form.filename.label }} {{ form.filename(value=filename) }}</p>
           <p>{{ form.asset_type.label }} {{ form.asset_type(value=asset_type) }}</p>
           <p>{{ form.submit }}</p>
       </form>
  </body>
</html>
