<html>
  <head>
      <title>{{ title }}</title>
  </head>
  <body>
    <h1>Taxes:</h1>
    {% for rpt_tax in supported_tax %}
      <div class="message">report/{{ rpt_tax }}/tax</div>
    {% endfor %}
    <br><br>
    <h1>Assets:</h1>
    {% for rpt_asset in supported_asset %}
      <div class="message">report/{{ rpt_asset }}/asset</div>
    {% endfor %}
  </body>
</html>
