<html>
  <head>
      <title>{{ title }}</title>
  </head>
  <body>
       <h1>tax output filename</h1>
       <form method=post>
           {{ form.csrf_token }}
           <p>{{ form.filename.label }} {{ form.filename(value=filename) }}</p>
           <p>{{ form.year.label }} {{ form.year(value=year) }}</p>
           <p>{{ form.save_file }}</p>
       </form>
  </body>
</html>
